*{
    box-sizing: border-box;
}
body {
    color: #333;
}

ul {
    margin:0;
    padding: 0;
}

li{
    list-style: none;
}

.widget{
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    width: 350px;
}
.cards-image{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.card-img{
    width: 30px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}

.input {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background-color: greenyellow;
}

.widget-input{
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
}

.widget-input:focus{
    border: 2px solid white;
outline: none;
box-shadow: 0 0 0 3px lightskyblue;
}

.valid {border: green 2px solid}

.invalid{
    border: red 2px solid;
}

.grey{
    opacity: .5;
    filter: grayscale(85%);
}